<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js" defer></script>
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
        <h2>My course goals</h2>
        <input type="text" v-model="userInput">
        <button @click="addGoal">Add Goal</button>

        <!-- ESTUDANDO O V-IF: -->
        <!-- SEM V-IF -->
        <!-- <p>No goals have been added yet - please add some!</p> -->

        <!--- COM V-IF -->
        <p v-if="goals.length === 0">No goals have been added yet - please add some!</p>


        <!-- usando v-if novamente - mas este código é redundante, por isso usamos a sintaxe com 'v-else' -->
        <!-- <ul v-if="goals.length > 0">
            <li>Goal</li>
        </ul> -->


        <!-- 'V-ELSE' funciona EXATAMENTE COMO NO JAVASCRIPT, com um detalhe importante: O ELEMENTO QUE RECEBE a directive 'v-else' DEVE SEMPRE SER VIZINHO IMEDIATO DO ELEMENTO COM 'v-if'...-->
        <ul v-else>
            <li>Goal</li>
        </ul>


        <!-- V-SHOW NÃO FUNCIONA COM O 'v-if' (e afins), E NÃO FAZ O RENDER/UNRENDER DOS ELEMENTOS DO DOM.... A ÚNICA COISA QUE ELE FAZ É ADICIONAR O STYLE DE 'display: none' aos elementos que estão com 'falsy' no valor de 'v-show'... -->
        <!-- 
        <p v-show="goals.length === 0">No Goals</p>

        <ul v-show="goals.length > 0">
            <li>Goal</li>
        </ul> -->



        <p v-if="goals.length === 0">No goals have been added yet - please add some!</p>

        <ul v-else>
            <!-- EXEMPLO DA UTILIZAÇÃO DE 'v-for' para OUTPUTTAR UMA LISTA de items a partir da data nas suas data properties -->
            <!-- TEMOS ACESSO A ESSA CONST DE 'goal' APENAS DENTRO DESSE ELEMENTO 'li', pq só ele foi afetado por esse 'v-for'-->
            <li v-for="(goal, index) in goals" @click="removeGoal(index)">Goal: {{ goal }} Index: {{ index }}</li>
        </ul>
        <!-- EXEMPLO DE LOOPS NO VUE, mas POR DENTRO DE OBJECTS (btw, o 'index' nos objects é RARAMENTE UTILIZADO)-->
        <!-- <ul>
            <li v-for="(propertyValue, keyName, indexNumber) in exampleObject">Value: {{propertyValue}} Name of the key: {{ keyName}} Index: {{indexNumber}}</li>

        </ul> -->





        <!-- exemplo de utilização-NICHO do v-for, para loopar por dentro de um conjunto de NUMBERS-->
        <!-- <ul>
        <li v-for="num in 10">{{num}}</li>
    </ul> -->




    </section>

</body>

</html>