<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <header>
        <h1>Vue Events</h1>
    </header>
    <section id="events">
        <h2>Events in Action</h2>
        <button v-on:click="add(10)">Add 10</button>
        <button v-on:click="reduce(5)">Subtract 5</button>
        <p>Result: {{ counter }}</p>
        <input type="text" v-model="fullName2">
        <button v-on:click="resetInput">Reset Input</button>
        <!--  EXEMPLO DE WATCHERS FUNCIONANDO COMO COMPUTED PROPERTIES (funcionam se vocÊ tiver APENAS 1 DEPENDENCY NESSA SUA COMPUTED PROPERTY QUE QUER SUBSTITUIR)-->
        <p>Your Name: {{ fullName2 }} </p>
        <p>Your Name: {{ fullName }} </p>

        <!-- exemplo de watchers FALHANDO como computed properties (nõa funcionam se vocÊ tiver mais de 1 dependency sendo usada/dependida nessa computed property a ser substituída)-->
        <!-- QUEREMOS UPDATAR O 'FULLNAME' sempre que esse 'name' e 'lastName' forem alterados... queremos obter isso através de um WATCHER... -->
        <input type="text" v-model="name">
        <input type="text" v-model="lastName">
        <p>Your Name: {{ fullName }}</p>

    </section>
</body>

</html>